*{
  /* position: relative; */
}

.title {
  color: #7a00ba;
  font-size: 30px;
}

.row{
  display: flex;
  justify-content: space-between;
}

.events li{
    list-style-type: none;
    padding-top: .5em;
    padding-bottom: 2px;
    border-bottom: 1px gray solid;
}


ul{
  margin: 2em 10%;
}

button{
  cursor: pointer;
}


nav{
  height: 3em;
  display: flex;
  justify-content: space-around;
  background-color: aliceblue;
  margin-bottom: 1em;
  position: fixed;
  width: 100%;
  top: 0;
  align-items: center;
}

nav>a{
  color: gray;
  width: 100%;
  text-align: center;  
  line-height: 3em;
  vertical-align: middle;
  height: 3em;  
}

nav>a:hover{
  background-color: #fff;
}

main{
  margin-top: 4.5em;  
  position: relative;
}


.new_event{
  margin-bottom: 2em;
  text-align: center;
}

.sign_in, .sign_up{
  /* display: none; */
  text-align: center;
}

.new_event>input,
.new_event>button,
.sign_in>button,
.sign_in>input,
.sign_up>button,
.sign_up>input{
  display: block;
  width: 15em;
  margin: auto;
  margin-top: 5px;  
}

.new_event>input,
.new_event>button{
  margin-bottom: 1em;
  margin-bottom: 1em;
  border-radius: .5em;
  border: 1px gray solid;
  padding: .5em;
  min-width: 30%;  
}

.new_event>button{
  margin-top: 2em;
  min-width: 31%;
}

.switch{
  background-color: antiquewhite;
  width: 5em;
  padding: .5em;
  text-align: center;
  border-radius: 1em;
  cursor: pointer;  

  margin: auto;

  /* top: -3em;
  margin: auto;
  position  : relative;   */
}

.active{
  display: block;
}

.switch:hover{
  background-color: lightsalmon;
}

.errors *{
  color: red;
}

.errors>li{
 list-style-type: none; 
}

input[type="file"]{
  display: none;
}

.row label{
  background: #eee;
  padding: 2px 3px;
  border-radius: 3px;
  border: 1px solid gray;
  font-size: small;
  width: 4.5em;  
  cursor: pointer;
  text-align: center;  
}

#search{
  width : 70%;
  margin: auto;
  display: block;
}

.sort{
    left: 15%;
    position: relative;
    top: 1em;
    background: lightgreen;
    padding: .5em;
    border-radius: .3em;
    cursor: pointer;
}
